@import url("./__links/footer__links.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");
.footer{
    margin:auto;
    max-width: 1000px;
    margin-top:100px;
    max-height:100px;
    background-color:#5fecec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__spring{
    background-color:#25cf58;
}
.footer__summer{
    background-color:#effd9c;
}
.footer__autumn{
    background-color: #bd9616;
}
